$bubble-padding-vert: 0.8421052632em;
$bubble-padding-horiz: 1.0526315789em;
$bubble-border-radius: #{$bubble-padding-horiz};
$bubble-border-width: 0.3157894737em;

@mixin bubble {
    background-color: #fff;
    max-width: 80%;
    margin: 0 auto 3rem auto;
    padding: #{$bubble-padding-vert} #{$bubble-padding-horiz};
    border-radius: #{$bubble-border-radius};
    border: #{$bubble-border-width} solid #0b0c0c;
    line-height: 1.4em;
    color: #0b0c0c;
    min-width: 5em;

    position: relative;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
}
