.c2cButton .fixed {
  width: 200px;
  padding: 10px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}

.c2cButton .fixed.ready {
  background-color: #00703c;
  font-weight: 600;
  margin-bottom: 0px;
}

.c2cButton .fixed.ready:hover {
  background-color: #005a30;
  cursor: pointer;
}

.c2cButton .fixed.busy,
.c2cButton .fixed.outofhours,
.c2cButton .fixed.chatactive {
  background-color: #00703c;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .c2cButton .fixed.ready {
    margin-top: 0px;
  }
  .c2cButton .fixed.busy {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 500px) {
  .c2cButton .fixed.ready {
    margin-top: 1rem;
  }
  .c2cButton .fixed.busy {
    margin-top: 12px;
    margin-bottom: 0px;
  }
}

.c2cButton .anchored {
  width: 200px;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.c2cButton .anchored.ready {
  background-color: #008670;
}
.c2cButton .anchored.ready:hover {
  background-color: #005A30;
  cursor: pointer;
}

.c2cButton .anchored.busy,
.c2cButton .anchored.outofhours,
.c2cButton .anchored.chatactive {
  background-color: grey;
}
