$header-border-bottom-height: 2px;
$footer-top-border-height: 3px;

#ciapiSkinContainer {
    box-sizing: border-box;
    background-color: #fff;
}

#ciapiSkinHeader {
    background-color: #fff;
    border-bottom-color: rgb(177, 180, 182);
    border-bottom-style: solid;
    border-bottom-width: $header-border-bottom-height;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem 0;
}

#ciapiSkinHeader .govuk-button,
#ciapiSkinHeader > div {
    margin-bottom: 0; /*we are handling margin with the gap in flexbox*/
}

// #print .govuk-button--secondary,
// #sound .govuk-button--secondary {
//     margin-bottom: 0;
// }

#print .govuk-button--secondary {
    background-size: 1em;
    // padding-left: 1.2em;
    // padding-top: 0.3em;
    background-color: #f3f2f1;
    background-position: 0 50%; /*we have removed the hard-coded height so need the image to be aware of its context*/
}

#print .govuk-button--secondary:hover,
#sound .govuk-button--secondary:hover {
    background-color: #dbdad9;
}

#print .govuk-button--secondary:focus,
#sound .govuk-button--secondary:focus {
    background-color: #ffdd00;
}

#sound .govuk-button--secondary {
    padding: 10px 10px 5px;
    background-color: #f3f2f1;
    background-position: 0 50%; /*we have removed the hard-coded height so need the image to be aware of its context*/
}

#toggleSound {
    text-align: left!important;
}



@media screen and (max-width: 320px) {
    #print .govuk-button--secondary {
        padding: 0.3em 0em;
    }

    #sound .govuk-button--secondary {
        padding-left: 0em;
        padding-top: 0.3em;
    }
}

#systemMessageBanner {
    width: 100%;
    border-bottom: 1px solid black;
    color: black;
    background-color: #cce9ff;
    text-align: center;
    padding: 5px 0;
}

@media screen and (max-width: 500px) { 
    #systemMessageBanner {
        padding: 2px 0;
    }
}


#ciapiChatComponents {
    display: flex;
    flex-direction: column;
}

    #skipToTopLink:focus {
        box-shadow: none !important;
        text-decoration: underline !important;
    }
    #skipToBottom {
        margin-left: 5px;
        margin-right: 5px;
    }
        #skipToBottomLink:focus {
            box-shadow: none !important;
            text-decoration: underline !important;
        }

    ::-webkit-scrollbar {
        background: #fff;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #8f8f8f;
    }

    .ciapiSkinChatTranscript {
        flex-grow: 1;
        //max-height: 90vh; // restricts height of transcript window which makes for a better experience on highly scaled screens. Removed for now pending further testing.
        background-color: #fff;
        box-sizing: border-box;
        overflow: auto;
        padding: 0;
        position: relative;
        border: 4px solid transparent;
        position: relative; // reqd to constrain the end chat overlay
        width: 100%;
        scrollbar-gutter: stable;
    }
        .ciapiSkinChatTranscript:focus {
            box-shadow: 0 0 0 3px #fd0;
            border-color: #000;
            outline: none;
        }

    .ciapi-customer-container {
        padding-bottom: 44px !important;
    }
    // .ciapi-agent-container {
    //     padding-bottom: 15px;
    // }

    .skipToTopWithScroll {
        position: relative;
        bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
        clear: both;
    }
    .skipToTopWithOutScroll {
        position: absolute;
        margin-left: 5px;
        margin-right: 5px;
        width: 96%;
        clear: both;
        bottom: 1.3rem;
    }


    #ciapiSkinFooter {
        flex-grow: 0;
        border-top: $footer-top-border-height solid rgb(11, 12, 12);
        padding-top: 1rem;
    }
        #ciapiInput {
            width: 69%;
            float: left;
            textarea {
                height: 4em;
                resize: none;
                margin-bottom: 0;
            }
        }
        #ciapiSend {
            width: 84px;
            float: left;
            padding-left: 0.25em;
        }

        #errorSummary, #errorQ1, #errorQ2, #errorQ3, #errorQ4, #errorQ5, #needed-error, #easy-error, #service-error, #score-error, #contact-error {
            display: none;
        }

// Print styles
.print-only {
    display: none;
}

.timestamp-outer {
    clear: both;
}

.ciapi-agent-message ul li {
    padding: 5px 0;
}

@media print {
    .govuk-grid-column-two-thirds {
        width: 100%;
    }

    .ciapi-customer-container {
        display: flow-root;
        padding-bottom: 10px !important;
    }
    .print-overflow-visible {
        overflow: visible;
        border-bottom: 0;
    }

    .print-only {
        display: block;
    }
    
    .govuk-header__container {
        border-bottom: none;
    }
    .govuk-header__logo {
        display: inline-block;
    }
    .govuk-header__content {
        display: inline-block;
    }
    .timestamp-outer{
        margin-bottom: 3em;
    }
    .timestamp-outer:has(.ciapi-customer-container){
        display:flex;
        flex-direction: column;
        align-items: end;
        gap: 0;
    }

   .ciapi-customer-container, .ciapi-agent-container{
        padding: 0 !important;
        margin: 0 !important;
    }

    .print-float-left {
      padding: 0 !important;
      margin-bottom: 1em  !important;
    }

    .print-timestamp {
        margin: -1em 0 0 0 !important;
      }
}
