@import "transcript-agent";
@import "transcript-customer";
@import "system-message";
@import "c2cbutton";
@import "end-chat-popup";
@import "lib/govuk-frontend/govuk/all";
@import 'chat-ui-common';

$popup-width: 400px;
$popup-min-width: 272px;
$popup-max-height: 590px;
$popup-container-border-width: 4px;
$header-height: 57px;
$tools-height: 23px;
$tools-padding-y: 5px;
$header-bottom-border-height: 2px;
$components-sub-height: $header-height + $header-bottom-border-height + $tools-height + 2 * $tools-padding-y;
$footer-height: 70px;
$footer-padding: 5px;
$textarea-height: $footer-height;
$transcript-border-height: 2px;
$transcript-sub-height: $footer-height + 2 * $footer-padding + 2 * ($transcript-border-height * 2) + 2px;
$page-height: calc(100% - 5px);



#main-content div{
    margin-bottom: 2px;
}

#ciapiSkin {
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 19px;
    -webkit-font-smoothing: antialiased;


    #ciapiSkinMinimised {
        display: none;
    }
}

#ciapiSkin.minimised {
    #ciapiSkinContainer {
        display: none;
    }
    #ciapiSkinMinimised {
        display: block;
    }
}

#ciapiSkinContainer {
    border: $popup-container-border-width solid;
    position: fixed;
    max-height: 40rem;
    height: 100%;
    min-width: 20rem;
    width: 29rem;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
}

@media print {
    #ciapiSkinContainer {
        position: relative;
        border: none;
        width: 100%;
    }
}

#titleBar {
    width: 100%;
    background-color: #1d70b8;
    border-bottom-color: #1d70b8;
    border-bottom-style: solid;
    border-bottom-width: $header-border-bottom-height;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    h2 {
        color: white;
    }
}

    #ciapiSkinTitleBar {
        padding-top: 1rem;
        padding-left: 0.6em;
        font-weight: 700;
        display: flex;
    }
        #ciapiTitleBarLogo {
            background: url('/engagement-platform-skin/assets/media/logo-white.png') no-repeat;
            background-size: 2rem 2rem;
            background-position: 0 0;
            width: 2.4rem;
            position: relative;
            top: -0.3rem;
        }

#ciapiSkinHeader {
    font-size: 16px;
    border-bottom-width: $header-bottom-border-height;
}

#ciapiSkinCloseButton,
#ciapiSkinHideButton {
    width: 2rem;
    height: 2rem;
    margin: 8px 0px;

    background-origin: border-box;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: #003078 !important;
    }
}
    #ciapiSkinCloseButton {
        background: url("/engagement-platform-skin/assets/media/close-white.svg") 50% 50% no-repeat;
        background-size: 1.8rem 1.8rem;
    }
    #ciapiSkinHideButton {
        background: url("/engagement-platform-skin/assets/media/minimise-white.svg") 50% 50% no-repeat;
        background-size: 1.8rem 1.8rem;
    }

    #ciapiSkinCloseButton:focus:not(:active):not(:hover),
    #ciapiSkinHideButton:focus:not(:active):not(:hover) {
        border-color: #ffdd00;
        color: #0b0c0c;
        background-color: #ffdd00;
        box-shadow: 0 2px 0 #0b0c0c;
    }
    #ciapiSkinCloseButton:focus,
    #ciapiSkinHideButton:focus {
        border-color: #ffdd00;
        outline: 3px solid transparent;
        box-shadow: inset 0 0 0 1px #ffdd00;
    }




#ciapiChatComponents {
    height: calc(100% - #{$components-sub-height});
    width: 100%;
}

.ciapiSkinChatTranscript {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 14px;
    padding-left: 1em;
    position: relative;

    div {
        margin-bottom: 0px;
        @extend .govuk-body;
    }

    .info {
        text-align: center;
        color: #505a5f;
        padding: 15px 5px;
        border-radius: 1.0526315789em;
        border: 0.3157894737em solid #505a5f;
        line-height: 1.4em;
        color: #0b0c0c;
        min-width: 5em;
    }

    .info img {
        width: 1.25em;
        vertical-align: bottom;
        padding: 0 0.5em 0.2em 0;
    }

    .skipToTopWithScroll {
        position: relative;
        bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
        clear: both;
    }

    .skipToTopWithOutScroll {
        position: absolute;
        bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
        width: 90%;
        clear: both;
    }

    #skipToBottom {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media print {
  .ciapiSkinChatTranscript {
  height: calc(100% - #{$transcript-sub-height});
  }
}

#HMRC_CIAPI_Anchored_1 {
    position: fixed;
    bottom: 0;
    right: 50px;
}

#ciapiSkinFooter {
    padding: 0.5rem 10px;
    margin-bottom: 20px;
}


#ciapiInput {
    width: 74%;
    float: left;

    textarea {
        height: $textarea-height;
        resize: none;
        margin-bottom: 0px;
    }
}

#ciapiSend {
    width: 24%;
    height: 40px;
    float: left;
    text-align: right;
}

#accessibility-statement {
    float: left;
    padding-bottom: 2px;
    padding-top: 2px;
    height: 19px;
    background-color: #eee;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    width:100%;

  a {
    padding-left: 5px;
  }
}


#ciapiSkinMinimised {
    width: 100%;
    max-width: $popup-width;
    height: $header-height;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #1d70b8;
    #ciapiSkinRestoreButton {
        z-index: 1000;
        width: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        #logo-white {
            float: left;
            padding-left: 0.6em;
            padding-top: 0.3em;
            img {
                margin: 3px 0 0 0;
                height: 42px;
                width: 42px;
            }
        }
        h2 {
            color: white;
            float: left;
            padding-top: 0.8em;
            padding-left: 0.6em;
        }
    }
}

#postChatSurveyWrapper {
    height: $page-height;
    width: calc(100% - 34px);
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 14px;
    padding-left: 1em;
    border-top: 2px solid #b1b4b6;

    fieldset.govuk-fieldset {
        margin-top: 2em;
    }
}

#postPCSPageWrapper {
    height: $page-height;
    border: 0px solid red;
    border-top: 2px solid #b1b4b6;
    padding-right: 14px;
    padding: 1em;
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    #ciapiSkinContainer {
        width: 100%;
        border: none;
    }
}

@media screen and (max-width: 767px) {
    #ciapiSkinContainer {
        width: 100%;
        height: 100%;
        border: none;
        max-height: 100%;
    }

    #ciapiChatComponents p {
        font-size: 16px;
    }

    #ciapiSkinSendButton {
        width: 100%;
        min-width: 60px;
        margin-left: 5px;
    }

    #ciapiSkinMinimised {
        max-width: 100% !important;
    }

    .ciapiSkinChatTranscript:focus {
        box-shadow: 0 0 0 3px #fd0;
        border: solid #000 4px;
        margin-top: -2px;
        margin-bottom: 0px;
        padding-left: 9px;
        margin-left: 3px;
        outline: none;
    }
}

.ciapiSkinChatTranscript a:visited {
  color: #4c2c92;
}

.ciapiSkinChatTranscript a:link {
    color: #1d70b8;
  }

.ciapiSkinChatTranscript a:hover {
    color: #003078;
}

.ciapiSkinChatTranscript a:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}
#skipToTopLink:focus {
    box-shadow : none !important;
    text-decoration: underline !important;
}

 #skipToBottomLink:focus{
     box-shadow : none !important;
     text-decoration: underline !important;
}

#heading_chat_ended:focus, #legend_give_feedback:focus, #heading_end_chat_popup:focus{
    outline:0;
}

.ciapi-agent-message:has(iframe.video-message) {
    min-width: 50%;
    padding-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
    .ciapi-agent-message:has(iframe.video-message) {
        min-width: 80%;
    }
}
