@import 'transcript-agent';
@import 'transcript-customer';
@import 'system-message';
@import 'c2cbutton';
@import 'end-chat-popup';
@import 'chat-ui-common';


@media (max-width: 40.0625em) {
    .govuk-grid-column-one-third .app-related-items {
        margin-top: 2em;
    }
}

#ciapiSkinContainer {
    height: calc(max(600px, 37rem)); // have to wrap the max in calc because using different units causes a compile error in sass (unless using dart-sass)
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content minmax(50%, 90%) auto;
}


#ciapiClose {
    clear: both;
    padding-top: 1rem;
}

#HMRC_CIAPI_Anchored_1 {
    position: fixed;
    bottom: 0;
    right: 50px;
}

@mixin IconButton {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 0.9em 0.9em;
    background-color: transparent;
    border: none;
    font-size: 19px;
    padding-left: 1em;
    vertical-align: middle;
    color: #1d70b8;
    text-decoration: underline;
    width: auto;
}


.info {
    text-align: center;
    color: #505a5f;
    border: 0px solid green;
    padding: 1em 0 1em 0;
}

.info img {
    width: 1.25em;
    vertical-align: bottom;
    padding: 0 0.5em .2em 0;
}

#postChatSurveyWrapper {
    height: calc(100% - 2em - 5px);
    overflow-y: scroll;
    padding: 1em;
    //     border-top: 2px solid #b1b4b6;   // fix this (consistency with popup)
    border-bottom: 2px solid #000;
    //     fieldset.govuk-fieldset {            // fix this (consistency with popup)
    //         margin-top: 2em;
    //     }
}

#postPCSPageWrapper {
    height: calc(100% - 2em - 5px);
    border: 0px solid red;
    border-top: 2px solid #b1b4b6;
    border-bottom: 2px solid #000;
    padding-right: 14px;
    padding: 1em;
    h1 {
        // fix this (why do we need overrides here but not popup?)
        color: white !important;
        font-size: 48px;
    }
}



@media (max-width: 575.98px) {
    .ciapiSkinChatTranscript:focus {
        margin-bottom: 1.2em !important;
    }
}

#heading_chat_ended:focus, #legend_give_feedback:focus, #heading_end_chat_popup:focus{
    outline:0;
}


