button.quick-reply-widget__option,
#ciapiSkinContainer button {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 8px 10px 7px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    -webkit-box-shadow: 0 2px 0 #002d18;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none
}

button.quick-reply-widget__option:link,
button.quick-reply-widget__option:visited,
button.quick-reply-widget__option:active,
button.quick-reply-widget__option:hover,
#ciapiSkinContainer button:link,
#ciapiSkinContainer button:visited,
#ciapiSkinContainer button:active,
#ciapiSkinContainer button:hover {
    color: #fff;
    text-decoration: none
}

button.quick-reply-widget__option::-moz-focus-inner,
#ciapiSkinContainer button::-moz-focus-inner {
    padding: 0;
    border: 0
}

button.quick-reply-widget__option:hover,
#ciapiSkinContainer button:hover {
    background-color: #005a30
}

button.quick-reply-widget__option:active,
#ciapiSkinContainer button:active {
    top: 2px
}

button.quick-reply-widget__option:focus,
#ciapiSkinContainer button:focus {
    border-color: #fd0;
    outline: 3px solid rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 0 1px #fd0;
    box-shadow: inset 0 0 0 1px #fd0
}

button.quick-reply-widget__option:focus:not(:active):not(:hover),
#ciapiSkinContainer button:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 2px 0 #0b0c0c;
    box-shadow: 0 2px 0 #0b0c0c
}

button.quick-reply-widget__option:before,
#ciapiSkinContainer button:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: rgba(0,0,0,0)
}

button.quick-reply-widget__option:active:before,
#ciapiSkinContainer button:active:before {
    top: -4px
}

button.quick-reply-widget__option[disabled=disabled],
button.quick-reply-widget__option[disabled],
#ciapiSkinContainer button[disabled=disabled],
#ciapiSkinContainer button[disabled] {
    opacity: .5
}

button.quick-reply-widget__option[disabled=disabled]:hover,
button.quick-reply-widget__option[disabled]:hover,
#ciapiSkinContainer button[disabled=disabled]:hover,
#ciapiSkinContainer button[disabled]:hover {
    background-color: #00703c;
    cursor: default
}

button.quick-reply-widget__option[disabled=disabled]:active,
button.quick-reply-widget__option[disabled]:active
#ciapiSkinContainer button[disabled=disabled]:active,
#ciapiSkinContainer button[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #002d18;
    box-shadow: 0 2px 0 #002d18
}
