.ciapi-system-container {
    margin-bottom: 0.5em !important;
    clear: both;
}

.ciapi-system-message {
    color: #505a5f !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1.2em !important;
    margin-bottom: 1.2em !important;
    text-align: center;
}
